*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    top: 0;
    right: 0;
    position: absolute;
    

}
header ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    
}
header li a{
    text-decoration: none;
    color: black;
    
}

header ul li{
    
    margin: 10px 10px;
    
}
header ul li button{
    outline: 0;
    background-color: #1a73e8;
    border: 1px solid ;
    border-radius: 3px;
    padding: 8px 15px;
    color: white;
    cursor: pointer;
   
}

    
 
    

.main{
  max-width: 580px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
   
    margin: 10% auto;
    
}
.main .search-box{
    position: relative;
    width: 100%;
   
    
   
    
}
.main img{

    margin-bottom: 30px;
}
.main .search-box input{
   
    height: 40px;
    width: 98%;
    border-radius: 50px;
    outline: none;
    border: 1px solid rgb(182, 165, 165);
    padding:20px;
    font-size: 17px;
    padding-left: 40px;
    
    
    
}
.main .search-box .sicon{
    position: absolute;
    top: 10px;
    left: 6px;
    width: 96%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 10px;
}
.button-container{
    width: 100%;
   position: relative;
    
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.button-container  .buttn{
    
   margin: 20px auto;
   position: relative;
}
.button-container button , span{
    position: relative;
    font-size: 17px;
    outline: none;
    border: none;
    padding: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.footer{
    
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 15%;
    
    
    
}
.footer ul{
    list-style: none;
    display: flex;
    padding: 10px;
}
.footer ul a{
    text-decoration: none;
    margin-left: 10px;
    color: black;
}