*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aqua;
    max-width: 100%;
}
nav{
    max-width: 100%;
    height: 93px;
    background-color: #5E0808;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px ;
    flex-grow: 1;
    flex-wrap: wrap;


}
.container{
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
    position: relative;
    
}
 .boxx {
    width: 160px;
    height: 40px;
    background-color: #FF0000;
    
}
.box{
    width: 56px;
    height: 40px;
    background-color: #FF0000;
    
}
.seven{
    border-radius: 100%;
    background-color: #FF0000;
    height: 64px;
    width: 64px;

}
header{
   
    padding:0 30px;
    height:100%;
}
.containers{
    height: 100px;
    width: 1200px;
    background-color: white;
    margin: 30px auto;
    justify-content: space-between;
    align-items: center;
    display: flex;
    gap: 20px;
    padding: 0 30px;
    border-radius: 10px;
}
.logo{
    height: 80px;
    width: 80px;
    background-color: #5E0808;
    border-radius: 100%;
   
    
}

.content{
    display: flex;
    flex-direction: column;
    gap: 5px;

}
.rect{
    
    height: 20px;
    width: 1025px;
    background-color: #5E0808;

}


@media screen and (max-width:900px) {
    
    .rect{
      width:600px;
      padding: 0;
    }
    .containers{
        width:800px
    }
    .content{
        margin-left: 0px;
    }
    .logo{
        margin-right: 0;
    }
  
 }
 @media screen and ( width < 1200px ) and ( width > 450px ) {
     



 }